# Dependencies
node_modules
.pnpm-store

# Build outputs
dist/
**/dist/
.next/
**/.next/
.turbo/
**/.turbo/
out/
**/out/
build/
**/build/
*.tsbuildinfo
**/*.tsbuildinfo

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env*.local

# IDE
.idea
.vscode
*.swp
*.swo
.DS_Store

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Testing
coverage
.nyc_output

# Prisma
prisma/*.db
prisma/*.db-journal

# Misc
.eslintcache
.cache
tmp
temp

# Sentry
.sentryclirc

# Vercel
.vercel

# Debug
debug.log
